{% extends 'dashboard/dash-base.html' %}

{% block content %}
<div class="bg-white p-6  rounded-lg">
    <div class="flex justify-between px-10 items-center ">
        <div class="text-gray-600 text-lg font-semibold">Welcome, {{request.user.username}}</div>
        <!-- <div class="font-semibold text-[14px] text-gray-600">Summary of the Aptutude Tests and Career Prediction</div> -->
        <a href="/test/">
            <button class="btn btn-outline">Give the Aptitude test</button>
          </a>
          
    </div>
    <div class="flex gap-4 ml-3 mt-3 items-center justify-between">
        {{chart | safe}}
        {{pie_chart | safe}}

    </div>
    <div class="flex justify-center">
        {{bar_chart | safe}}
    </div>
</div>
{% endblock %}
