<div id="sign-in-form">
    <form
      action="{% url 'signin' %}"
      method="POST"
      hx-post="{% url 'signin' %}"
      hx-target="#sign-in-form"
      hx-swap="outerHTML"
      class="mt-8"
    >
      {% csrf_token %}
      <div class="space-y-5">
        
        <!-- Error message display -->
        {% if error %}
          <div class="text-red-500">{{ error }}</div>
        {% endif %}

        <!-- Email Field -->
        <div>
          <label for="email" class="text-base font-medium text-gray-900">Email</label>
          <div class="mt-2">
            <input
              id="email"
              name="email"
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
              type="email"
              placeholder="Email"
              required
            >
          </div>
        </div>

        <!-- Password Field -->
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="text-base font-medium text-gray-900">Password</label>
            <a href="#" title="" class="text-sm font-semibold text-black hover:underline">
              Forgot password?
            </a>
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
              type="password"
              placeholder="Password"
              required
            >
          </div>
        </div>

        <!-- Submit Button -->
        <div>
          <button
            type="submit"
            class="inline-flex w-full items-center justify-center rounded-md bg-black px-3.5 py-2.5 font-semibold leading-7 text-white hover:bg-black/80"
          >
            Get started
          </button>
        </div>
      </div>
    </form>
</div>
